name: Pre-commit auto-update

on:
  workflow_call:

jobs:
  auto-update:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x

      - run: pip install pre-commit
      - run: pre-commit autoupdate --freeze
      - run: pre-commit run --all-files || true

      - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        if: always() && github.event_name != 'pull_request'
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
        with:
          commit-message: "style: Update pre-commit hooks"
          branch: update/pre-commit-hooks
          branch-suffix: timestamp
          delete-branch: true
          title: "style: Update pre-commit hooks"
          body: Update versions of pre-commit hooks to latest version.
